body, html{
    margin: 0px; 
    padding: 0px;
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:#262626;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    box-shadow: 0px 0px 5px black;
    background-color: white;
}

.row{
    display: block;
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;
}

.col-100, .col-25, .col-50, .col-75 {
    display: inline-block;
}

.col-100{
    width: 100%;
}

.col-25{
    width: 25%;
}

.col-50{
    width: 50%;
}

.col-75{
    width: 75%;
}

.nav {
    background-color: #00036c;
    padding: 5px 0px;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;
    display: flex;
}
.nav a {
    text-decoration: none;
    color: white;
} 

.nav ul{
    list-style-type:none;
}

.nav ul.navSectionRight{
    list-style-type:none;
    margin-left: auto;
}

.nav-inline ul li{
    padding: 5px;
}

.nav-inline ul li {
    display: inline-block;
}

.siteTitle{
    font-size: large;
}
